body {
  font-family: 'Times New Roman', Times, serif;
  margin: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding: 30px;
  width: calc(100% - 40px);
  box-sizing: border-box;
}

.header-container {
  margin: 20px;
}

.logo-container {
  margin-right: 20px;
}

.logo {
  width: 100px;
  border-radius: 50%;
}

.menu {
  list-style-type: none;
  display: flex;
  font-size: 36px;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  text-decoration: none;
  color: #333;
  padding: 15px;
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 0.2s;
}

.menu a:hover {
  color: #777;
  background-color: #e0e0e0;
}

#active {
  cursor: pointer;
  background-color: #dcd2d2;
}

.teams-container {
  display: flex;
  gap: 2rem;
}

#team-list {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 1rem;
  width: 30%;
}

.team-item {
  align-items: center;
  background-color: #d9d9d9;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
}

.team-name {
  font-size: 1.1rem;
}

.edit-btn {
  background-color: #888;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

.edit-btn:hover {
  background-color: #666;
}

.football-field {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-grow: 1;
  height: 500px;
  position: relative;
}



.field {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  background-image: linear-gradient(to right, #f0f0f0 50%, #e0e0e0 50%);
  height: 500px;
  width: 900px;
}

.player-spot {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
}

.gk {
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
}

.def.left {
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.def.right {
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fwd.left {
  left: 40%;
  top: 80%;
  transform: translate(-50%, -50%);
}

.fwd.right {
  left: 60%;
  top: 80%;
  transform: translate(-50%, -50%);
}

.player-name {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #333;
}
